<div id="main-container" class="section">
    <div class="row">
        <!--
        <div class="col s12 m6 l4" ng-if="user.rol === 'Farmacia'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">add_circle</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Nueva Solicitud</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.solicitudesAdd"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="col s12 m6 l4" ng-if="user.rol === 'Farmacia'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">accessibility_new</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Atender Solicitud de EPP's</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.productRequestsAttend"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Vestidores'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">accessibility_new</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Registrar en Vestidores</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.vestidoresRegister"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Lavandería'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">assignment_ind</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Registrar en Lavandería</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.lavanderiaRegister"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Farmacia'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">reply_all</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Registrar Devolución</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.solicitudesDevolver"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Farmacia'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">healing</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Entregar Prd. de Protección</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.productosEntregar"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Farmacia' || user.rol === 'Administrador'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">description</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Reporte de Solicitudes</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.reportesSolicitudes"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Farmacia' || user.rol === 'Administrador'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">description</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Reporte de Indumentaria</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.reportesIndumentaria"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Farmacia' || user.rol === 'Administrador'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">description</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Reporte de Marcaciones</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.reportesMarcaciones"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Lavandería'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">label_outline</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Regularizar en Lavandería</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.lavanderiaRegularizar"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Jefe de Servicio'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">description</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Cuadro Resumen</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.reportesCuadroResumen"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Jefe de Servicio'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">description</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Reporte Semanal</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.reportesReporteSemanal"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4" ng-if="user.rol === 'Jefe de Servicio'">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">description</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Anexos</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="admin.reportesAnexos"
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col s12 m6 l4">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">vpn_key</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Cambiar Contraseña</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref='admin.usersChangepassword'
                            class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card horizontal">
                <div class="card-image">
                    <i class="material-icons main-icons">reply</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Cerrar Sesión</p>
                    </div>
                    <div class="card-action">
                        <a ng-click="logout()" class="waves-effect waves-light btn gradient-45deg-red-pink">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>