<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Usuarios</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a ui-sref="admin.main">Inicio</a></li>
                    <li class="breadcrumb-item active"><a ui-sref="admin.usersIndex">Usuarios</a></li>
                    <li class="breadcrumb-item">Nuevo Usuario</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <form ng-submit="addUser(newUser)">
        <div class="container">
            <!-- Treeview  -->
            <div class="section treeview-wrapper">
                <!-- treeview description -->
                <div class="row">
                    <div class="col xl6 l6 m12 s12">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <div class="center" ng-show="loading">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3" ng-hide="loading">
                                    <div class="col xl12 l12 m12 s12">
                                        <!--Json data treeview example -->
                                        <div class="row">
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">tag</i>
                                                <input id="username" name="username" type="text" class="validate" ng-model="newUser.username" maxlength="10" required>
                                                <label for="username">Nombre de Usuario</label>
                                            </div>
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">person</i>
                                                <input id="full_name" 
                                                    name="full_name" 
                                                    class="validate" 
                                                    type="text" 
                                                    ng-model="newUser.full_name" 
                                                    uppercased
                                                    required>
                                                <label for="full_name">Apellidos y nombres</label>
                                            </div>
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">accessibility</i>
                                                <select id="role" ng-model="newUser.role" 
                                                    class="validate"    
                                                    material-select watch name="role">
                                                    <option value="">Seleccione un Rol</option>
                                                    <option ng-value="role" ng-repeat="role in roles">{{ role }}</option>
                                                </select>
                                                <label for="role">Rol</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col xl12 l12 m12 s12">
                                        <button 
                                            id="addUserBtn"
                                            class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right btn-submit" 
                                            type="submit">
                                            <span>Registrar</span>
                                        </button>
                                        <a 
                                            ui-sref="admin.usersIndex"
                                            class="mr-1 right waves-effect btn-flat">
                                            <span>Cancelar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>