<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col offset-xl3 offset-l3 xl6 l6 m12 s12">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Cambio de Contraseña</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a ui-sref="admin.main">Inicio</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Usuarios</a>
                    </li>
                    <li class="breadcrumb-item active">Cambio de Contraseña</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="col offset-xl3 offset-l3 xl6 l12 m12 s12">
    <div class="container">
        <!-- Treeview  -->
        <div class="section treeview-wrapper">
            <!-- treeview description -->
            <div class="row">
                <div class="col s12">
                    <div class="card card-tabs">
                        <div class="card-content">
                            <div class="center">
                                <img src="images/loading.gif" alt="cargando" ng-show="loading">
                            </div>
                            <form ng-submit="changePassword(newpassword, renewpassword)" ng-show="!loading">
                                <div class="row mb-3">
                                    <div class="col s12">
                                        <!--Json data treeview example -->
                                        <div class="row">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">account_box</i>
                                                    <input id="userFullName" type="text" class="validate" ng-model="user.full_name" readonly>
                                                    <label for="userFullName">Nombre del Usuario</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">account_box</i>
                                                    <input id="userUseranme" type="text" class="validate" ng-model="user.username" readonly>
                                                    <label for="userUseranme">Nombre de Usuario</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">vpn_key</i>
                                                    <input id="newpassword" type="password" class="validate" ng-model="newpassword" required>
                                                    <label for="newpassword">Ingrese la nueva contraseña</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">vpn_key</i>
                                                    <input id="renewpassword" type="password" class="validate" ng-model="renewpassword" required>
                                                    <label for="renewpassword">Vuelva a ingresar la nueva contraseña</label>
                                                </div>
                                                <button 
                                                    id="changePasswordBtn"
                                                    class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" 
                                                    type="submit">
                                                    <span class="hide-on-small-onl">Cambiar Contraseña</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>