<link rel="stylesheet" type="text/css" href="app-assets/css/themes/vertical-modern-menu-template/style.min.css">
<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-light-blue-cyan">
            <div class="nav-wrapper">
                <div class="header-search-wrapper">
                    <a class="brand-logo brand-logo-theme-vertical darken-1 hide-on-small-only hide-on-med-only"
                        ui-sref='admin.main'>
                        <img class="logo-image" src="images/logo_esquina_izquierda.png"
                            alt="Essalud - Red Asistencial La Libertad">
                        <span class="logo-text hide-on-med-and-down">Red Asistencial La Libertad</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- END: Header-->
<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded sidenav-fixed nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1" ui-sref='admin.main'>
                <img class="hide-on-med-and-down" src="images/logo_esquina_izquierda.jpg"
                    alt="Essalud - Red Asistencial La Libertad" />
                <span style="font-size: 1.2rem;" class="logo-text hide-on-med-and-down">Registro de EPP's</span>
            </a>
        </h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed fixed menu-shadow"
        data-menu="menu-navigation" id="slide-out" data-collapsible="accordion" watch>
        <li class="bold hide-on-large-only">
            <a class="waves-effect waves-cyan" ui-sref='admin.main' ui-sref-active="active" ng-click="resetLinks()"><i
                    class="material-icons">home</i><span class="menu-title">Inicio</span></a>
        </li>
        <li class="bold pl-9">
            Usuario: {{ user.username }}
        </li>
        <li class="bold" ng-if="user.role === 'Farmacia'">
            <a class="waves-effect waves-cyan" ui-sref="admin.productRequestsAttend" ui-sref-active="active"
                ng-click="resetLinks()"><i class="material-icons">accessibility_new</i><span
                    class="menu-title">Atender Solicitud de EPP's</span></a>
        </li>
        <li class="bold" ng-if="user.role === 'Administrador'">
            <a id="reportes-link" class="collapsible-header waves-effect waves-cyan"><i
                    class="material-icons">build</i><span class="menu-title">Mantenimiento</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub">
                    <li class="bold" ng-if="user.role === 'Administrador'">
                        <a class="waves-effect waves-cyan" ui-sref="admin.workersIndex" ui-sref-active="active"><i
                                class="material-icons">assignment_ind</i><span
                                class="menu-title">Colaboradores</span></a>
                    </li>
                    <li class="bold" ng-if="user.role === 'Administrador'">
                        <a class="waves-effect waves-cyan" ui-sref="admin.usersIndex" ui-sref-active="active"><i
                                class="material-icons">account_box</i><span class="menu-title">Usuarios</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"
            ng-if="user.role === 'Farmacia' || user.role === 'Administrador' || user.role === 'Médico Ocupacional' || user.role === 'Jefe de Servicio'">
            <a id="reportes-link" class="collapsible-header waves-effect waves-cyan"><i
                    class="material-icons">description</i><span class="menu-title">Reportes</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub">
                    <li class="bold"
                        ng-if="user.role === 'Farmacia' || user.role === 'Administrador'">
                        <a class="waves-effect waves-cyan" ui-sref="admin.productRequestRecords"
                            ui-sref-active="active"><i class="material-icons">description</i><span
                                class="menu-title">Registro de Entrega</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold" ng-if="user.role === 'Administrador'">
            <a class="waves-effect waves-cyan" ui-sref="admin.configuration" ui-sref-active="active"
                ng-click="resetLinks()"><i class="material-icons">build</i><span class="menu-title">Configuración</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan" ui-sref="admin.usersChangepassword" ui-sref-active="active"
                ng-click="resetLinks()"><i class="material-icons">vpn_key</i><span class="menu-title">Cambiar
                    contraseña</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan" ng-click="logout()" ui-sref-active="active" ng-click="resetLinks()"><i
                    class="material-icons">reply</i><span class="menu-title">Cerrar Sesión</span></a>
        </li>
    </ul>
    <div class="navigation-background"></div>
    <a id="sidenav-anchor"
        class="sidenav-trigger mb-6 btn-floating btn-large waves-effect waves-light cyan btn-medium waves-effect waves-light hide-on-large-only"
        data-activates="slide-out" data-sidenav="left" data-menuwidth="260" data-closeonclick="false">
        <i class="material-icons">menu</i>
    </a>
</aside>
<!-- END: SideNav-->

<!-- BEGIN: Page Main-->
<div id="main">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
        <ui-view></ui-view>
    </div>
</div>
<!-- END: Page Main-->

<!-- BEGIN: Footer-->
<footer
    class="page-footer footer footer-static footer-dark gradient-45deg-indigo-blue gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span>&copy; 2021 ESSALUD</span><span class="right hide-on-small-only">Oficina de Soporte
                Informático</span></div>
    </div>
</footer>