<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Regularizar en Lavandería</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a ui-sref="admin.main">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active">Regularizar en Lavandería</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <form ng-submit="regularizar(codigos)">
        <div class="container">
            <div class="section treeview-wrapper">
                <div class="row">
                    <div class="col xl12 s12">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <!--Json data treeview example -->
                                <h6>Ingrese los códigos correspondientes</h6>
                                <hr>
                                <p>Los códigos deben estar separados por comas (,)</p>
                                <div class="center" ng-show="loading">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="loading">
                                    <div class="row" ng-repeat="codigo in codigos">
                                        <div class="input-field input-group col xl12 l12 m12 s12">
                                            <i class="material-icons prefix">tag</i>
                                            <input ng-attr-id="reutilizable{{ codigo.tipo_id }}" ng-attr-name="reutilizable{{ codigo.tipo_id }}" type="text" ng-model="codigo.numeros" autocomplete="off" pattern="([0-9]*[.,]?)+">
                                            <label ng-attr-for="reutilizable{{ codigo.tipo_id }}">N° {{ codigo.tipo_descripcion }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col xl12 l12 m12 s12">
                        <button class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right btn-submit" type="submit">
                            <span class="hide-on-small-onl">Registrar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>