<form ng-submit="searchCodigo(codigo)" ng-show="firma.codigo === undefined">
    <div class="row">
        <div class="input-field col offset-xl3 offset-l3 xl6 l6 m12 s12">
            <i class="material-icons prefix">tag</i>
            <input id="codigo" name="profesional" type="text" class="validate" ng-model="codigo" autocomplete="off" uppercased>
            <label for="codigo">Código</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col offset-xl3 offset-l3 xl6 l6 m12 s12 center">
            <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="submit">Consultar</button>
        </div>
    </div>
</form>
<br>
<div ng-hide="firma.codigo === undefined">
    <div class="center">
        <div class="firma" pw-canvas version="version"
            options="{width: solicitudesFirmaWidth, 
            height: 400, 
            color: '#000', 
            undo: true,
            lineWidth: 2,
            customCanvasId: 'solicitudesFirma'}">
        </div>
    </div>
    <div class="center">
        <div>
            <button class="red btn btn-reset" type="button" ng-click="clearFirma()">
                <i class="material-icons left">clear</i>Borrar Firma
            </button>
        </div>
        <br>
        <div>
            <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="button" ng-click="sendFirma(codigo)">Enviar</button>
        </div>
    </div>
</div>