<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col xl6 l6 m12 s12">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Entregar Productos de Protección</span></h5>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <form ng-submit="registrarEntrega(newEntrega)">
        <div class="container">
            <!-- Treeview  -->
            <div class="section treeview-wrapper">
                <!-- treeview description -->
                <div class="row">
                    <div class="col xl6 l6 m12 s12">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <div class="center" ng-show="loadingSolicitudes">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3" ng-hide="loadingSolicitudes">
                                    <div class="col xl12 l12 m12 s12">
                                        <!--Json data treeview example -->
                                        <div class="row">
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">person</i>
                                                <input id="dni" name="dni" type="text" class="validate"
                                                    ng-model="dni_medico" maxlength="9" required>
                                                <label for="dni">Número de Documento</label>
                                                <span class="suffix">
                                                    <button type="button" ng-click="search(dni_medico)"
                                                        ng-class="{disabled: dni_medico.length < 8}"
                                                        class="btn waves-effect waves-light">
                                                        <i class="material-icons">{{ searching }}</i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">person</i>
                                                <input id="profesional" name="profesional" type="text"
                                                    ng-model="trabajador.full_name" required readonly>
                                                <label for="profesional">Personal</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col xl6 l6 m12 s12" ng-show="trabajador.full_name !== undefined">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <div class="row mb-3">
                                    <div class="col xl12 l12 m12 s12">
                                        <!--Json data treeview example -->
                                        <div class="row">
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">person</i>
                                                <select id="grupo_ocupacional" ng-model="newEntrega.grupo_ocupacional"
                                                    material-select watch name="grupo_ocupacional">
                                                    <option value="">Seleccione un Grupo</option>
                                                    <option ng-value="grupo_ocupacional.descripcion"
                                                        ng-repeat="grupo_ocupacional in grupos_ocupacionales">{{
                                                        grupo_ocupacional.descripcion }}</option>
                                                </select>
                                                <label for="tipo">Grupo Ocupacional</label>
                                            </div>
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">hospital</i>
                                                <select id="area_ingreso" ng-model="newEntrega.area_ingreso"
                                                    material-select watch name="area_ingreso">
                                                    <option value="">Seleccione un Área</option>
                                                    <option ng-value="area_opcion"
                                                        ng-repeat="area_opcion in area_opciones">{{ area_opcion }}
                                                    </option>
                                                </select>
                                                <label for="tipo">Área a la que va a ingresar</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="trabajador.full_name !== undefined">
                    <div class="center" ng-show="loadingRegister">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col xl6 l6 m12 s12" ng-hide="loadingRegister">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <div class="row mb-3">
                                    <div class="col xl12 l12 m12 s12">
                                        <!--Json data treeview example -->
                                        <h6>Últimos {{ ultimos }} Registros de entrega</h6>
                                        <hr>
                                        <table class="ultimos-entregas">
                                            <thead>
                                                <tr>
                                                    <th>Fecha de entrega</th>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-show="loadingEntregas">
                                                    <td class="center" colspan="3">
                                                        <div class="preloader-wrapper big active">
                                                            <div class="spinner-layer spinner-blue-only">
                                                                <div class="circle-clipper left">
                                                                    <div class="circle"></div>
                                                                </div>
                                                                <div class="gap-patch">
                                                                    <div class="circle"></div>
                                                                </div>
                                                                <div class="circle-clipper right">
                                                                    <div class="circle"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-show="entregas.length === 0 && !loadingEntregas">
                                                    <td colspan="3">No se encontraron registros</td>
                                                </tr>
                                                <tr ng-show="entregas.length > 0 && !loadingEntregas"
                                                    ng-repeat="entrega in entregas">
                                                    <td>{{ entrega.fecha_entrega | date: 'dd/MM/yyyy hh:mm a':
                                                        'America/Lima' }}</td>
                                                    <td>{{ entrega.tipo_epp }}</td>
                                                    <td>{{ entrega.cantidad }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col xl6 l6 m12 s12" ng-hide="loadingRegister">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <div class="row mb-3">
                                    <div class="col xl12 l12 m12 s12">
                                        <!--Json data treeview example -->
                                        <h6>Nuevo Registro de entrega</h6>
                                        <hr>
                                        <div class="row">
                                            <div class="input-field col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">healing</i>
                                                <select id="consumible" ng-model="tipo_epp" material-select watch
                                                    name="consumible">
                                                    <option value="">Seleccione un EPP</option>
                                                    <option ng-value="consumible.id"
                                                        ng-repeat="consumible in consumibles">{{
                                                        consumible.descripcion_for_list }}</option>
                                                </select>
                                                <label for="tipo">Tipo</label>
                                            </div>
                                            <div class="input-field col xl6 l6 m12 s12">
                                                <i class="material-icons prefix">tag</i>
                                                <input id="cantidad" name="cantidad" type="number" class="validate"
                                                    ng-model="newEntrega.cantidad" min="1" required>
                                                <label for="cantidad">Cantidad</label>
                                            </div>
                                        </div>
                                        <div>
                                            <button
                                                class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right btn-submit"
                                                type="submit">
                                                <span class="hide-on-small-onl">Registrar</span>
                                            </button>
                                            <button type="button"
                                                class="btn dropdown-settings gradient-45deg-light-blue-cyan breadcrumbs-btn right btn-submit"
                                                style="margin-right: 10px;" data-target='firmaModal' modal
                                                ng-click="waitFirma()">
                                                <span class="hide-on-small-onl">Firmar</span>
                                            </button>
                                            <button
                                                class="btn dropdown-settings gradient-45deg-purple-deep-purple breadcrumbs-btn right btn-submit"
                                                type="button" style="margin-right: 10px;"
                                                ng-hide="firmaValor === '' || firmaValor === undefined"
                                                data-target='firmaVerModal' modal>
                                                <span class="hide-on-small-onl">Ver Firma</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="firmaVerModal" class="modal">
    <div class="modal-content">
        <h4>Firma del Profesional</h4>
        <div class="row">
            <div class="col xl12 l12 m12 s12">
                <div class="center-align">
                    <img class="firma-img responsive-img" ng-src="{{ firmaValor }}" alt="firma">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="button">Aceptar</button>
    </div>
</div>
<div id="firmaModal" class="modal">
    <div class="modal-content">
        <h4>Firma del Profesional</h4>
        <div class="row">
            <div class="col xl12 l12 m12 s12 ">
                <div class="center-align">
                    <h4>Código:</h4>
                    <h4 ng-show="showCodigo">{{ firma.codigo }}</h4>
                    <br>
                    <img class="firma-img responsive-img" ng-hide="firma.valor === undefined" ng-src="{{ firma.valor }}"
                        alt="firma">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="button"
            ng-click="saveFirma()">Aceptar</button>
    </div>
</div>