<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Productos de Protección</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a ui-sref="admin.main">Inicio</a></li>
                    <li class="breadcrumb-item active">Productos de Protecciön</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <div class="container">
        <div class="section treeview-wrapper">
            <div class="row">
                <div class="col xl12 s12">
                    <div class="card card-tabs">
                        <div class="card-content">
                            <div>
                                Total de registros encontrados: <span ng-show="!loading">{{ consumibles.length }}</span>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="material-icons">tag</i>
                                        </th>
                                        <th>Descripción</th>
                                        <th>Marca</th>
                                        <th>Stock</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" ng-show="loading">
                                            <div class="center">
                                                <div class="preloader-wrapper big active">
                                                    <div class="spinner-layer spinner-blue-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" ng-show="!loading && consumibles.length === 0">No se encontraron
                                            productos de protección</td>
                                    </tr>
                                    <tr ng-repeat="consumible in consumibles" ng-show="!loading">
                                        <td>{{ consumible.id }}</td>
                                        <td>{{ consumible.descripcion }}</td>
                                        <td>{{ consumible.marca }}</td>
                                        <td>
                                            <span>
                                                {{ consumible.stock }}
                                                <a style="cursor: pointer;" data-target='stockModal' modal
                                                    ng-click="showStock(consumible.stock, consumible.id)"
                                                    title="Modificar Stock">
                                                    <i class="material-icons">create</i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>{{ consumible.estado.descripcion }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="stockModal" class="modal">
    <div class="modal-content">
        <h4>Actualizar Stock de Producto</h4>
        <div class="row">
            <div class="col xl12 l12 m12 s12 ">
                <div class="input-field input-group col xl12 l12 m12 s12">
                    <i class="material-icons prefix">tag</i>
                    <input id="dni" name="dni" type="number" class="validate" ng-model="new_stock" required
                        autocomplete="off" ng-value="old_stock">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="button"
            ng-click="saveStock(new_stock, consumible_id)">Aceptar</button>
    </div>
</div>