<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Colaboradores</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a ui-sref="admin.main">Inicio</a></li>
                    <li class="breadcrumb-item active">Colaboradores</li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                    ui-sref="admin.workersAdd" ng-disabled="loading">
                    <i class="material-icons left">add</i>
                    <span>Nuevo Colaborador </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <div class="container">
        <div class="section treeview-wrapper">
            <div class="row">
                <div class="col xl12 s12">
                    <div class="card card-tabs">
                        <div class="card-content">
                            <h6>Filtros de Búsqueda</h6>
                            <hr>
                            <div class="row">
                                <div class="input-field col xl3 l3 m3 s4">
                                    <i class="material-icons prefix">tag</i>
                                    <input id="dni_medico" type="text" class="validate"
                                        ng-model="search.document_number">
                                    <label for="dni_medico">N° de Documento</label>
                                </div>
                                <div class="input-field col xl3 l3 m3 s4">
                                    <button type="button"
                                        class="btn dropdown-settings waves-effect waves-light right breadcrumbs-btn"
                                        ng-click="searchWorkers()">
                                        <i class="material-icons left">search</i>
                                        <span>Buscar </span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                Total de registros encontrados: <span ng-show="!tableWorkers.loading">{{
                                    tableWorkers.count }}</span>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>N° Documento</th>
                                        <th>Nombre Completo</th>
                                        <th>Cod. Planilla</th>
                                        <th>Grupo Ocupacional</th>
                                        <th>Condición</th>
                                        <th>Especialidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="6" ng-show="tableWorkers.loading">
                                            <div class="center">
                                                <div class="preloader-wrapper big active">
                                                    <div class="spinner-layer spinner-blue-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" ng-show="!tableWorkers.loading && tableWorkers.count === 0">No
                                            se encontraron colaboradores</td>
                                    </tr>
                                    <tr ng-repeat="worker in workers" ng-show="!tableWorkers.loading">
                                        <td>{{ worker.document }}</td>
                                        <td>{{ worker.full_name }}</td>
                                        <td>{{ worker.payroll_code }}</td>
                                        <td>{{ worker.worker_occupational_group.description }}</td>
                                        <td>{{ worker.worker_condition.description }}</td>
                                        <td>{{ worker.worker_medical_speciality.description }}</td>
                                        <td>
                                            <a ui-sref="admin.workersEdit({ document_type: worker.document_type, document_number: worker.document_number })" class="btn waves-effect waves-light">
                                                <i class="material-icons">create</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="center">
                                <pagination class="pagination" page="tableWorkers.page"
                                    page-size="tableWorkers.pagination.itemsPerPage" total="tableWorkers.count"
                                    show-prev-next="true" use-simple-prev-next="false" dots="...." hide-if-empty="false"
                                    adjacent="2" scroll-top="false"
                                    pagination-action="tableWorkers.pageChanged(page)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>