<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col offset-xl3 offset-l3 xl6 l6 m12 s12">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Registrar Entrega</span></h5>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <form ng-submit="registrarEntrega(solicitudes)">
        <div class="container">
            <!-- Treeview  -->
            <div class="section treeview-wrapper">
                <!-- treeview description -->
                <div class="row">
                    <div class="col offset-xl3 offset-l3 xl6 l6 m12 s12">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <div class="center" ng-show="loadingSolicitudes">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3" ng-hide="loadingSolicitudes">
                                    <div class="col xl12 l12 m12 s12">
                                        <!--Json data treeview example -->
                                        <div class="row">
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">person</i>
                                                <input id="dni" name="dni" type="text" class="validate"
                                                    ng-model="dni_medico" maxlength="9" required>
                                                <label for="dni">Número de Documento</label>
                                                <span class="suffix">
                                                    <button type="button" ng-click="search(dni_medico)"
                                                        ng-class="{disabled: dni_medico.length < 8}"
                                                        class="btn waves-effect waves-light">
                                                        <i class="material-icons">{{ searching }}</i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="input-field input-group col xl12 l12 m12 s12">
                                                <i class="material-icons prefix">person</i>
                                                <input id="profesional" name="profesional" type="text"
                                                    ng-model="trabajador.full_name" required readonly>
                                                <label for="profesional">Personal</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="last_epp0">
                    <div class="col offset-xl3 offset-l3 xl6 l6 m12 s12">
                        <div class="card card-tabs">
                            <div class="card-content">
                                ÚLTIMA ENTREGA EPP 0: <span class="fecha_last_entrega">{{ last_epp0 | date:
                                    'dd/MM/yyyy': 'America/Lima' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="solicitudes.length !== 0">
                    <div class="center" ng-show="loadingRegister">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col offset-xl3 offset-l3 xl6 l6 m12 s12" ng-hide="loadingRegister">
                        <div class="card card-tabs">
                            <div class="card-content">
                                <div class="row mb-3">
                                    <div class="col xl12 l12 m12 s12">
                                        <!--Json data treeview example -->
                                        <h6>Solicitudes</h6>
                                        <hr>
                                        <div class="row">
                                            <div class="col xl12 l12 m12 s12" ng-repeat="solicitud in solicitudes">
                                                <h6 class="mb-0 mt-0 display-flex justify-content-between">&nbsp;

                                                    <!-- Dropdown Trigger -->
                                                    <a href='javascript:void(0);' data-activates='demoDropdown' dropdown
                                                        data-hover="false">
                                                        <i class="material-icons float-right">more_vert</i>
                                                    </a>

                                                    <!-- Dropdown Structure -->
                                                    <ul id='demoDropdown' class='dropdown-content'>
                                                        <li><a ng-click="removeSolicitud(solicitud)">Eliminar</a></li>
                                                    </ul>
                                                </h6>
                                                <br>
                                                <p>
                                                    <a class="gradient-45deg-indigo-light-blue waves-effect waves-light btn entrega-cantidad"
                                                        ng-click="changeCantidad(solicitud)">
                                                        {{ solicitud.cantidad }}
                                                    </a>
                                                    <button
                                                        class="gradient-45deg-deep-orange-orange waves-effect waves-light btn right"
                                                        type="button" data-target='detalleModal'
                                                        ng-click="setDetalleSolicitud(solicitud)"
                                                        ng-show="solicitud.tipo_epp === 'EPP 5' || solicitud.tipo_epp === 'EPP 8' || solicitud.tipo_epp === 'EPP 2'"
                                                        modal>Detalle</button>
                                                </p>
                                                <p>{{ solicitud.tipo_epp }}</p>
                                                <h6>Para:</h6>
                                                <p>{{ solicitud.area_ingreso }}</p>
                                                <h6>Turno:</h6>
                                                <p>{{ solicitud.programacion.turno }}</p>
                                                <h6 ng-show="solicitud.programacion.area !== null">Área / Servicio:
                                                </h6>
                                                <p ng-show="solicitud.programacion.area !== null">{{
                                                    solicitud.programacion.area }} / {{ solicitud.programacion.servicio
                                                    }}</p>
                                                <h6 ng-show="solicitud.programacion.actividad !== null">Actividad /
                                                    Subactividad: </h6>
                                                <p ng-show="solicitud.programacion.actividad !== null">{{
                                                    solicitud.programacion.actividad }} / {{
                                                    solicitud.programacion.subactividad }}</p>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col offset-xl3 offset-l3 xl6 l6 m12 s12">
                        <button class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right btn-submit"
                            type="submit" ng-hide="firmaValor === '' || firmaValor === undefined">
                            <span class="hide-on-small-onl">Registrar</span>
                        </button>
                        <button type="button"
                            class="btn dropdown-settings gradient-45deg-light-blue-cyan breadcrumbs-btn right btn-submit"
                            style="margin-right: 10px;" data-target='firmaModal' modal ng-click="waitFirma()">
                            <span class="hide-on-small-onl">Firmar</span>
                        </button>
                        <button
                            class="btn dropdown-settings gradient-45deg-purple-deep-purple breadcrumbs-btn right btn-submit"
                            type="button" style="margin-right: 10px;"
                            ng-hide="firmaValor === '' || firmaValor === undefined" data-target='firmaVerModal' modal>
                            <span class="hide-on-small-onl">Ver Firma</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="firmaModal" class="modal">
    <div class="modal-content">
        <h4>Firma del Profesional</h4>
        <div class="row">
            <div class="col xl12 l12 m12 s12 ">
                <div class="center-align">
                    <h4>Código:</h4>
                    <h4 ng-show="showCodigo">{{ firma.codigo }}</h4>
                    <br>
                    <img class="firma-img responsive-img" ng-hide="firma.valor === undefined" ng-src="{{ firma.valor }}"
                        alt="firma">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="button"
            ng-click="saveFirma()">Aceptar</button>
    </div>
</div>
<div id="firmaVerModal" class="modal">
    <div class="modal-content">
        <h4>Firma del Profesional</h4>
        <div class="row">
            <div class="col xl12 l12 m12 s12">
                <div class="center-align">
                    <img class="firma-img responsive-img" ng-src="{{ firmaValor }}" alt="firma">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="button">Aceptar</button>
    </div>
</div>
<div id="detalleModal" class="modal">
    <div class="modal-content">
        <h4>Detalle</h4>
        <div class="row">
            <div class="col xl6 l6 m6 s12">
                <div class="input-field input-group col xl12 l12 m12 s12" ng-repeat="tipo in tipos">
                    <i class="material-icons prefix">tag</i>
                    <input ng-attr-id="reutilizable{{ tipo.id }}" ng-attr-name="reutilizable{{ tipo.id }}" type="text"
                        ng-model="solicitudDetalleSelected.reutilizables[$index].codigo" required>
                    <label ng-attr-for="reutilizable{{ tipo.id }}">N° {{ tipo.descripcion }}</label>
                    <input type="hidden" ng-model="solicitudDetalleSelected.reutilizables[$index].tipo_id"
                        ng-value="tipo.id">
                </div>
            </div>
            <div class="col xl6 l6 m6 s12" ng-if="solicitudDetalleSelected.cantidad === 2">
                <div class="input-field input-group col xl12 l12 m12 s12" ng-repeat="tipo in tipos">
                    <i class="material-icons prefix">tag</i>
                    <input ng-attr-id="reutilizable2{{ tipo.id }}" ng-attr-name="reutilizable2{{ tipo.id }}" type="text"
                        ng-model="solicitudDetalleSelected.reutilizables[tipos.length + $index].codigo" required>
                    <label ng-attr-for="reutilizable2{{ tipo.id }}">N° {{ tipo.descripcion }}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close gradient-45deg-light-blue-cyan btn-flat" type="button">Aceptar</button>
    </div>
</div>