<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Reporte de Indumentaria</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a ui-sref="admin.main">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">Reportes</li>
                    <li class="breadcrumb-item active">Reporte de Indumentaria</li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <button type="button" class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" ng-click="exportExcel()" ng-disabled="loading">
                    <span class="hide-on-small-onl">Exportar a Excel </span>
                    <i class="material-icons right">description</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <div class="container">
        <div class="section treeview-wrapper">
            <div class="row">
                <div class="col xl12 s12">
                    <div class="card card-tabs">
                        <div class="card-content">
                            <h6>Filtros de Búsqueda</h6>
                            <hr>
                            <div class="row">
                                <div class="input-field col xl3 l3 m3 s4">
                                    <i class="material-icons prefix">accessibility_new</i>
                                    <select id="tipo" ng-model="search.tipo_id" material-select watch name="tipo">
                                        <option value="">Seleccione un Tipo</option>
                                        <option ng-value="tipo.id" ng-repeat="tipo in tipos">{{ tipo.descripcion }}</option>
                                    </select>
                                    <label for="tipo">Tipo</label>
                                </div>
                                <div class="input-field col xl3 l3 m3 s4">
                                    <i class="material-icons prefix">apps</i>
                                    <select id="estado" ng-model="search.estado_id" material-select watch name="estado">
                                        <option value="">Seleccione un Estado</option>
                                        <option ng-value="estado.id" ng-repeat="estado in estados">{{ estado.descripcion }}</option>
                                    </select>
                                    <label for="estado">Estado</label>
                                </div>
                                <div class="input-field col xl3 l3 m3 s4">
                                    <i class="material-icons prefix">tag</i>
                                    <input id="codigo" type="text" class="validate" ng-model="search.codigo">
                                    <label for="codigo">N°</label>
                                </div>
                                <div class="input-field col xl3 l3 m3 s4">
                                    <button type="button" class="btn dropdown-settings waves-effect waves-light right breadcrumbs-btn" ng-click="searchIndumentaria()">
                                        <span class="hide-on-small-onl">Buscar </span>
                                        <i class="material-icons right">search</i>
                                    </button>
                                </div>
                            </div>
                            <div>
                                Total de registros encontrados: <span ng-show="!loading">{{ tableReutilizables.count }}</span>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Tipo</th>
                                        <th>N°</th>
                                        <th>Estado</th>
                                        <th>Última Solicitud</th>
                                        <th>Nro. Documento</th>
                                        <th>Profesional</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" ng-show="loading">
                                            <div class="center">
                                                <div class="preloader-wrapper big active">
                                                    <div class="spinner-layer spinner-blue-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td colspan="7" ng-show="tableReutilizables.loading">Cargando...</td></tr>
                                    <tr><td colspan="7" ng-show="!tableReutilizables.loading && reutilizables.length === 0 && !inicio">No se encontraó indumentaria</td></tr>
                                    <tr ng-repeat="reutilizable in reutilizables" ng-show="!tableReutilizables.loading && !loading">
                                        <td class="td-detail">
                                            <a ng-click="reportHistorial(reutilizable)" title="Ver Historial">
                                                <i class="material-icons right">search</i>
                                            </a>
                                        </td>
                                        <td>{{ reutilizable.tipo.descripcion }}</td>
                                        <td>{{ reutilizable.codigo }}</td>
                                        <td>
                                            <a ng-class="{'gradient-45deg-deep-orange-orange': reutilizable.estado_id === 8, 'gradient-45deg-indigo-light-blue': reutilizable.estado_id === 7, 'gradient-45deg-cyan-light-green': reutilizable.estado_id === 12, 'gradient-45deg-red-pink': reutilizable.estado_id === 13}" class="waves-effect waves-light btn">
                                                {{ reutilizable.estado.descripcion }} 
                                            </a>
                                        </td>
                                        <td>{{ reutilizable.reutilizables_solicitudes_detalles[0].fecha_entrega | date: 'dd/MM/yyyy hh:mm a': 'America/Lima'  }}</td>
                                        <td>{{ reutilizable.reutilizables_solicitudes_detalles[0].dni_medico }}</td>
                                        <td>{{ reutilizable.reutilizables_solicitudes_detalles[0].solicitud.profesional }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="center">
                                <pagination class="pagination"
                                    page="tableReutilizables.page"
                                    page-size="tableReutilizables.pagination.itemsPerPage"
                                    total="tableReutilizables.count"
                                    show-prev-next="true"
                                    use-simple-prev-next="false"
                                    dots="...."
                                    hide-if-empty="false"
                                    adjacent="2"
                                    scroll-top="false"
                                    pagination-action="tableReutilizables.pageChanged(page)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>