<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row heading-page">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Reporte de Marcaciones</span></h5>
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item"><a ui-sref="admin.main">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">Reportes</li>
                    <li class="breadcrumb-item active">Reporte de Marcaciones</li>
                </ol>
            </div>
            <div class="col s2 m6 l6">
                <button type="button" class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" ng-click="exportExcel()" ng-disabled="loading">
                    <span class="hide-on-small-onl">Exportar a Excel </span>
                    <i class="material-icons right">description</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col xl12 l12 m12 s12">
    <div class="container">
        <div class="section treeview-wrapper">
            <div class="row">
                <div class="col xl12 s12">
                    <div class="card card-tabs">
                        <div class="card-content">
                            <h6>Filtros de Búsqueda</h6>
                            <hr>
                            <div class="row">
                                <div class="input-field col xl4 l4 m4 s6">
                                    <i class="material-icons prefix">person</i>
                                    <input id="dni" type="text" class="validate" ng-model="search.dni">
                                    <label for="dni">Número de Documento</label>
                                </div>
                                <div class="input-field col xl4 l4 m4 s6">
                                    <i class="material-icons prefix">date_range</i>
                                    <input id="fecha" name="fecha" type="date" class="validate" ng-model="pre_fecha">
                                    <label for="fecha">Fecha</label>
                                </div>
                                <div class="input-field col xl4 l4 m4 s6">
                                    <button type="button" class="btn dropdown-settings waves-effect waves-light right breadcrumbs-btn" ng-click="searchProgramaciones()">
                                        <span class="hide-on-small-onl">Buscar </span>
                                        <i class="material-icons right">search</i>
                                    </button>
                                </div>
                            </div>
                            <div>
                                Total de registros encontrados: <span ng-show="!loading">{{ tableProgramaciones.count }}</span>
                            </div>
                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th>DNI</th>
                                        <th>Trabajador</th>
                                        <th>Grupo Ocupacional</th>
                                        <th>Estado</th>
                                        <th>Turno</th>
                                        <th>Fecha</th>
                                        <th>Entrada</th>
                                        <th>Break Inicio</th>
                                        <th>Break Fin</th>
                                        <th>Salida</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody-responsive">
                                    <tr>
                                        <td colspan="9" ng-show="loading">
                                            <div class="center">
                                                <div class="preloader-wrapper big active">
                                                    <div class="spinner-layer spinner-blue-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td colspan="9" ng-show="tableProgramaciones.loading">Cargando...</td></tr>
                                    <tr><td colspan="9" ng-show="!tableProgramaciones.loading && programaciones.length === 0 && !inicio">No se encontraron programaciones</td></tr>
                                    <tr ng-repeat="programacion in programaciones" ng-show="!tableProgramaciones.loading && !loading">
                                        <td>{{ programacion.dni_medico }}</td>
                                        <td>{{ programacion.profesional }}</td>
                                        <td>{{ programacion.grupo_ocupacional }}</td>
                                        <td>
                                            <a ng-class="{'gradient-45deg-deep-orange-orange': [1, 3, 4].includes(programacion.estado_id), 'gradient-45deg-indigo-light-blue': programacion.estado_id === 5, 'gradient-45deg-cyan-light-green': programacion.estado_id === 10, 'gradient-45deg-red-pink': programacion.estado_id === 11, 'gradient-45deg-brown-brown': programacion.estado_id === 6}" class="waves-effect waves-light btn btn-estado">
                                                {{ [1, 3, 4].includes(programacion.estado_id) ? 'Sin marcación' : programacion.estado.descripcion }}
                                                <span ng-if="programacion.estado_id === 5 && programacion.flag_entrada_sistema === '1'">(*)</span>
                                            </a>
                                        </td>
                                        <td>{{ programacion.turno }}</td>
                                        <td>{{ programacion.fecha_programacion | date: 'dd/MM/yyyy': 'America/Lima'}}</td>
                                        <td>{{ programacion.fecha_hora_entrada | date: 'dd/MM/yyyy hh:mm a': 'America/Lima'}}</td>
                                        <td>{{ programacion.fecha_hora_break_start | date: 'dd/MM/yyyy hh:mm a': 'America/Lima'}}</td>
                                        <td>{{ programacion.fecha_hora_break_final | date: 'dd/MM/yyyy hh:mm a': 'America/Lima'}}</td>
                                        <td>{{ programacion.fecha_hora_salida | date: 'dd/MM/yyyy hh:mm a': 'America/Lima'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="center">
                                <pagination class="pagination"
                                    page="tableProgramaciones.page"
                                    page-size="tableProgramaciones.pagination.itemsPerPage"
                                    total="tableProgramaciones.count"
                                    show-prev-next="true"
                                    use-simple-prev-next="false"
                                    dots="...."
                                    hide-if-empty="false"
                                    adjacent="2"
                                    scroll-top="false"
                                    pagination-action="tableProgramaciones.pageChanged(page)" />
                            </div>
                            <p>(*) Marcados por el sistema</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>